/* =============================================================================
BOOTSTRAP RESET
========================================================================== */

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Oswald', sans-serif !important;
}

button, input, outgroup, select {
    -webkit-font-smoothing: antialiased;
    font-family: 'Oswald', sans-serif !important;
}


/* =============================================================================
CSS
========================================================================== */

/* ---- base ---- */

html, body {
    background: #fff;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

canvas {
    display:block;
    vertical-align:bottom;
}

p {
    font-weight: 300 !important;
    line-height: 1.8;
}


 /* ----- Header ----- */

.Hero {
    height: auto;
    position: relative;
    width: 100%;
}

.Hero-content {
    position: relative;
    width: 100%;
    z-index: 400;
}

.Hero-background {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom right, #2D1345, #771522, #2D1345 );bottom: 0;
    bottom: 0;
    left: 0;
    max-height: 80%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

@media (max-width: 769px) {
    .Hero-background {
        max-height: 50%;
    }
}

@media (max-width: 577px) {
    .Hero-background {
        max-height: 50%;
    }
}

.Hero-backgroundWrapper {
    position: relative;
}

.Hero-header {
    height: 100px;
}

.Hero-header button {
    border-color: #fff;
    color: #fff;
    cursor: pointer;
}

.Hero-title {
    height: 300px;
}

.Hero-title h1 {
    font-size: 100px;
    color: #fff;
    font-weight: 400;
}

.Hero-title p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
}

.Hero-values {
    background: #171717;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.Hero-values h3 {
    font-size: 24px;
    color: #fff;
}

.Hero-values p {
    color: rgba(255, 255, 255, 0.8);
}

.Hero-clouds {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 600;
}

.Hero-cloud {
    background-color: transparent;
    background-size: 100%;
    opacity: 0.5;
    position: absolute;
    left: -10%;
    right: -10%;
    top: -10%;
    bottom: -10%;
    z-index: 600;
}

@media (max-width: 993px) {
    .Hero-cloud  {
        background-size: 200%;
    }
}

.Hero-cloud--1 {
    animation-name: clouds;
    animation-duration: 22.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-image: url(../img/cloud-1.png);
}

.Hero-cloud--2 {
    animation-name: clouds-reverse;
    animation-duration: 27.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-image: url(../img/cloud-2.png);
}

.Hero-cloud--3 {
    animation-name: clouds;
    animation-duration: 28.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-image: url(../img/cloud-3.png);
}

.Hero-cloud--4 {
    animation-name: clouds-reverse;
    animation-duration: 29.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-image: url(../img/cloud-4.png);
}

.Hero-cloud--5 {
    animation-name: clouds;
    animation-duration: 25.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-image: url(../img/cloud-5.png);
}

@keyframes clouds {
    0% {transform: translate(0, 0)}
    25% {transform: translate(5%, 1%)}
    50% {transform: translate(4%, 5%)}
    75% {transform: translate(2%, 6%)}
    100% {transform: translate(0, 0)}
}

@keyframes clouds-reverse {
    0% {transform: translate(0, 0)}
    25% {transform: translate(-2%, -3%)}
    50% {transform: translate(-6%, -5%)}
    75% {transform: translate(-5%, 2%)}
    100% {transform: translate(0, 0)}
}

.Hero-particles{
    background-color: transparent;
    background-image: url('');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 300;
}


/* ---- Phi---- */

.Phi {
    margin-top: 5px;
    max-width: 250px;
    width: 50px;
}

.Phi-symbol {
    fill: #fff;
}


/* ----- Sections ----- */
.Section-title {
    color: rgba(0, 0, 0, 0.25);
    font-size: 16px;
    text-transform: uppercase;
}

.Section-subtitle {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
}

.Section-text {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    font-weight: 300;
}

.Section-copy {
    width: 240px;
}



/* ----- Modular ----- */
.Modular {
    background: #171717;
}

.Modular-title {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
}

.Modular-subtitle {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 300;
}

.Modular-caption {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
}


/* ---- content ---- */

.Footer {
    background: #171717;
    min-height: 100px;
    width: 100%;
}

.Footer-phi {
    margin-top: 5px;
    max-width: 250px;
    width: 50px;
}

.Newsletter-subheader {
    color: #6d6d6d;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.Newsletter-input {
    -webkit-appearance: none;
    background: #171717;
    border: rgba(255,255,255, 0.2);
    box-shadow: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    height: 50px;
    outline: none;
    padding: 0 20px;
    text-transform: uppercase;
    width: 300px;
}

.Newsletter-button {
    -webkit-appearance: none;
    background: #6d6d6d;
    border: 0;
    box-shadow: none;
    color: #050505;
    cursor: pointer;
    font-family: 'times', serif;
    font-size: 20px;
    height: 50px;
    outline: none;
    width: 50px;
}

.Newsletter-button:hover {
    background: #111111;
    color: #6D6D6D;
    transition: all 0.25s ease-in;
}

::-webkit-input-placeholder {
    color: #6d6d6d;
}
