/* =============================================================================
BOOTSTRAP RESET
========================================================================== */

html{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    -webkit-font-smoothing: antialiased;
    font-family: 'Oswald', sans-serif !important;
}


/* =============================================================================
CSS
========================================================================== */

/* ---- base ---- */

html,body{
    background: #fff;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

canvas{
    display:block;
    vertical-align:bottom;
}

a {
    border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
    color: #c4dff7;
    font-size: 16px;
    text-decoration: none;
    transition: border 0.25s ease-in;
}

a:hover {
    border-bottom: dotted 1px rgba(255, 255, 255, 0);
}

p {
    font-weight: 300 !important;
    line-height: 1.8;
}

 /* ----- Header ----- */

.Hero {
    height: 700px;
    position: relative;
    width: 100%;
}

.Hero-content {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 400;
}

.Hero-background {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom right, #2D1345, #771522, #2D1345 );bottom: 0;
    bottom: 100px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.Hero-header {
    height: 100px;
}

.Hero-title {
    height: 300px;
}

.Hero-title h1 {
    font-size: 100px;
    color: #fff;
    font-weight: 400;
}

.Hero-title p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
}

.Hero-values {
    background: #171717;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.Hero-values h3 {
    font-size: 24px;
    color: #fff;
}

.Hero-values p {
    color: rgba(255, 255, 255, 0.8);
}

.Hero-clouds {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.Hero-cloud {
    background-color: transparent;
    background-size: cover;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 200;
}

.Herocloud--1 {
    background-image: url(../img/cloud-1.png);
}

.Herocloud--2 {
    background-image: url(../img/cloud-2.png);
}

.Herocloud--3 {
    background-image: url(../img/cloud-3.png);
}

.Herocloud--4 {
    background-image: url(../img/cloud-4.png);
}

.Herocloud--5 {
    background-image: url(../img/cloud-5.png);
}

.Hero-particles{
    background-color: transparent;
    background-image: url('');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 300;
}


/* ---- Phi---- */

.Phi {
    margin-top: 5px;
    max-width: 250px;
    width: 50px;
}

.Phi-symbol {
    fill: #fff;
}


/* ---- content ---- */

.content {
    align-items: center;
    background: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 500;
}

.info-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 100px 0;
    width: 600px;
}

.info-header {
    color: #6d6d6d;
    font-size: 40px;
    letter-spacing: 6px;
    text-align: center;
    text-transform: uppercase;
}

.info-subheader {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #6d6d6d;
}

.info-subheader a{
    color: #6d6d6d;
}

.newsletter-wrapper {
    align-items: center;
    background: #050505;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 100px 0;
    width: 100%;
}

.newsletter-subheader {
    color: #6d6d6d;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.newsletter-input {
    -webkit-appearance: none;
    background: #111111;
    border: rgba(255,255,255, 0.2);
    box-shadow: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    height: 50px;
    outline: none;
    padding: 0 20px;
    text-transform: uppercase;
    width: 300px;
}

.newsletter-button {
    -webkit-appearance: none;
    background: #6d6d6d;
    border: 0;
    box-shadow: none;
    color: #050505;
    cursor: pointer;
    font-family: 'times', serif;
    font-size: 20px;
    height: 50px;
    outline: none;
    width: 50px;
}

.newsletter-button:hover {
    background: #111111;
    color: #6D6D6D;
    transition: all 0.25s ease-in;
}

::-webkit-input-placeholder {
    color: #6d6d6d;
}
